<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="root"></div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="js/index.bundle.js"></script>
        {% endblock %}
    </body>
</html>
